.DS_Store
Documentation/*
tmp/
build/*
Classes/html/
Classes/latex/
FlexiFormat.xcodeproj/project.xcworkspace/*
FlexiFormat.xcodeproj/*.xcuserdatad/*
FlexiFormat.xcodeproj/xcuserdata/*
FlexiFormat.xcodeproj/*.pbxuser
FlexiFormat.xcodeproj/*.perspectivev3
